<div class="card-container" [ngClass]="{
  'student-card': item?.type === 'student',
  'professor-card': item?.type === 'professor',
  'personal-tab': currentTab === 'Personal',
  'geographic-tab': currentTab === 'Geographic',
  'message-card': currentTab === 'Messages'
}">
  <!-- Tab Buttons -->
  <div>
    <button (click)="switchTab('Personal')">Personal</button>
    <button (click)="switchTab('Geographic')">Geographic</button>
    <button (click)="switchTab('Messages')">Messages</button>
  </div>

  <!-- Tab Content -->
  <div *ngIf="currentTab === 'Personal'" class="tab-content">
    <p>Name: {{ item.name }}</p>
    <p>LastName: {{ item.lastName }}</p>
    <p>Type: {{ item.type }}</p>
    <!-- Mostrar el score si es estudiante -->
    <p *ngIf="item.type === 'student' && item.firstTestScore !== undefined">
      Score (Student): {{ (item.firstTestScore + item.secondTestScore + item.finalTestScore) / 3 | number: '1.0-0' }}
    </p>

    <!-- Mostrar el subject si es profesor -->
    <p *ngIf="item.type === 'professor' && item.subject !== undefined">
      Subject (Professor): {{ item.subject }}
    </p>
  </div>

  <div *ngIf="currentTab === 'Geographic'" class="tab-content">
    <p>Address: {{ item.address.zone }} {{ item.address.street }}, Number: {{ item.address.number }}</p>
    <p>Country: {{ item.country }}</p>
    <p>Province: {{ item.province }}</p>
  </div>

  <div *ngIf="currentTab === 'Messages'" class="tab-content">
    <!-- Search Component for Messages -->
    <app-search (search)="searchMessages($event)"></app-search>

    <!-- List of Filtered Messages -->
    <ul>
      <li *ngFor="let message of filteredMessages">{{ message }}</li>
    </ul>
  </div>
</div>
