<app-social-network (newNotification)="handleNewNotification($event)"></app-social-network>

<div *ngFor="let user of users">
  <app-user 
    [user]="user"
    (onChangeSubscription)="handleSubscriptionChange(user, $event)"
    (onAddSubscription)="handleAddSubscription(user, $event)"
    (onRemoveSubscription)="handleRemoveSubscription(user, $event)"
    (onCloseAccount)="handleCloseAccount(user)"
  ></app-user>
  <app-notification [notifications]="user.notifications"></app-notification>
</div>
